/****************************************************************************
*****************************************************************************

CSS DE LA MAQUETTE / PROGRAMMATION WEB CLIENT

****************************************************************************
****************************************************************************/

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-size: 50pt;
    font-family: Garnet-Capitals, sans-serif;
    margin-left: 5vw;
    margin-top: 19vh;
}

h2 {
    color: #072c78;
    text-transform: uppercase;
    text-align: center;
    font-size: 30pt;
    font-family: Garnet-Capitals, sans-serif;
    font-weight: bold;
}

/****************************************************************************
*****************************************************************************

BLOC 1 DE LA PAGE

****************************************************************************
****************************************************************************/

#bloc1{
    height: 98.5vh;
}

.img-bloc1 {
    position: absolute;
    z-index: -10;
    height: calc(100vh - 1em);
    width: calc(100vw - 3em);
    left: 1em;
    top: 1em;
}

.contain-accueil {
    width: 98%;
    height: 100vh;
    margin: 1em;
    margin-bottom: 0;
    z-index: 2;
}

.menu-param {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 18.5vw;
    height: 5vh;
    margin-left: 76.25em; 
    z-index: 4;

    background-color: #fff;
}

.items-param {
    order: 3;
}

.btn-param {
    font-size: 10pt;
    margin-left: 2vw;
}

.contain-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 5vw;
}

.items-header {
    order: 8;
}

#logo {
    color: #fff;
    font-size: 40pt;
    font-family: Saral-Devanagari-Roman, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 6vw;
}

.btn-header {
    color: #fff;
    text-decoration: none;
    font-size: 10pt;
    font-family: Room, sans-serif;
    text-transform: uppercase;
    margin: 1.5vw;
}

#iconeSearch {
    margin-left: 12vw;
}

.contain-btn-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 8vw;
    width: 80vw;
    margin-top: 23.9vh;
    z-index: 3;
}

.items-btn-slider {
    order: 4;
}

.text-btn-slider {
    width: 12em;
    text-align: center;
    font-size: 10pt;
    font-family: Room, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    align-content: center;
    background-color: #fff;
    user-select: none;
}

#pageRecrutement {
    display: none;
    width: 98%;
    height: 100vh;
    margin: 1em;
    margin-bottom: 0;
    z-index: 2;
}

#pageInterim {
    display: none;
    width: 98%;
    height: 100vh;
    margin: 1em;
    margin-bottom: 0;
    background-color: #b54340;
    z-index: 2;
}

#pagePerformance {
    display: none;
    width: 98%;
    height: 100vh;
    margin: 1em;
    margin-bottom: 0;
    background-color: #dba569;
    z-index: 2;
}

#pageTransformation {
    display: none;
    width: 98%;
    height: 100vh;
    margin: 1em;
    margin-bottom: 0;
    background-color: #005a3d;
    z-index: 2;
}

/****************************************************************************
****************************************************************************

BLOC 2 DE LA PAGE

****************************************************************************
****************************************************************************/

#bloc2 {
    background-color: palevioletred;
}

#titleH2Bloc2 {
    margin-top: 1em;
}

.contain-zoom-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.items-zoom-slider {
    order: 2;
}

.img-bloc2 {
    position: absolute;
    z-index: -10;
    height: 15em;
    width: 20em;
    margin-top: 5em;
}

#img1Bloc2 {
    height: 19em;
    width: 30em;
    margin-left: 10em;
}

#img2Bloc2 {
    height: 19em;
    width: 30em;
    margin-left: 45em;
}

.text-zoom-slider {
    color: #fff;
    font-size: 10pt;
}
