*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    font-size: 50pt;
    font-family: Garnet-Capitals, sans-serif;
    margin-left: 5vw;
    margin-top: 16vh;
}

h2 {
    color: #072c78;
    text-transform: uppercase;
    text-align: center;
}

#bloc_1{
    height: 98.5vh;
}

.menu-param {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 20vw;
    height: 5vh;  
    z-index: 4;

    background-color: violet;
}

.items-param {
    order: 3;
}

.btn-param {
    font-size: 10pt;
    margin-left: 2vw;
}

.contain-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 7vh;
    margin-left: 5vw;
}

.items-header {
    order: 8;
}

#logo {
    color: #fff;
    font-size: 40pt;
    font-family: Saral-Devanagari-Roman, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 6vw;
}

.btn-header {
    color: #fff;
    text-decoration: none;
    font-size: 10pt;
    font-family: Room, sans-serif;
    text-transform: uppercase;
    margin: 1.5vw;
}

#iconeSearch {
    margin-left: 12vw;
}

.contain-btn-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 10vw;
    width: 110vw;
    margin-top: 21.7vh;
    z-index: 3;
}

.items-btn-slider {
    order: 4;
}

.text-btn-slider {
    width: 12em;
    text-align: center;
    font-size: 10pt;
    font-family: Room, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    align-content: center;
    background-color: #fff;
}

.contain-accueil {
    width: 98%;
    height: 100vh;
    margin: 1em;
    margin-bottom: 0;
    background-color: #5593b3;
    z-index: 2;
}

#pageRecrutement {
    display: none;
    width: 98%;
    height: 100vh;
    margin: 1em;
    margin-bottom: 0;
    z-index: 2;
}

#pageInterim {
    display: none;
    width: 98%;
    height: 100vh;
    margin: 1em;
    margin-bottom: 0;
    background-color: #b54340;
    z-index: 2;
}

#pagePerformance {
    display: none;
    width: 98%;
    height: 100vh;
    margin: 1em;
    margin-bottom: 0;
    background-color: #dba569;
    z-index: 2;
}

#pageTransformation {
    display: none;
    width: 98%;
    height: 100vh;
    margin: 1em;
    margin-bottom: 0;
    background-color: #005a3d;
    z-index: 2;
}

.contain-share {
    text-align: right;
}

.contain-share-back {
    width: 100px;
    height: 100px;
    background-color: #fff;
    z-index: 3;
}

.img-share {
    width: 30px;
    height: 30px;
    z-index: 4;
}

.contain-share,
.contain-share ul {
    list-style-type: none;
}



